@model DevIO.App.ViewModels.FornecedorViewModel;

<div style="padding-top: 20px;">

    <div>
        <hr />
        <h4>Endereço</h4>
    </div>

    @if(Model != null)
    {
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Logradouro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Complemento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Cep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Bairro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Cidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Estado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>
                    @Model.Endereco.Logradouro
                </td>
                <td>
                    @Model.Endereco.Numero
                </td>
                <td>
                    @Model.Endereco.Complemento
                </td>
                <td>
                    @Model.Endereco.Cep
                </td>
                <td>
                    @Model.Endereco.Bairro
                </td>
                <td>
                    @Model.Endereco.Cidade
                </td>
                <td>
                    @Model.Endereco.Estado
                </td>
                <td>
                    @if (ViewData["Detalhe"] is not bool)
                    {
                        <a asp-action="AtualizaEndereco" asp-route-id="@Model.Id" class="btn btn-info" data-modal="">
                            <span title="Editar" class="fa fa-pencil-alt"></span>
                        </a>
                    }
                </td>
            </tr>

        </table>
    }
</div>
<script>
    AjaxModal();
</script>

